<template>
  <requre  from="./loader.css"></requre> 

  <div if.bind="listLoaded">
    <li repeat.for="artist of artistsList">
        <a route-href="route: artists; params.bind: {name:artist.name}">
            <h4>${artist.name} </h4>
        </a>
    </li>
    <button click.delegate="loadPrev()" show.bind="hasPrev()"> Prev </button>  
    <button click.delegate="loadNext()" show.bind="hasNext()"> Next </button>
  </div>
  <div if.bind="awaitingResults">
      Loading ...
  </div>
</template>  
